// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --calendar-bg: var(--ion-color-light);
  --calendar-text: var(--ion-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --calendar-bg: #1e1e1e;
    --calendar-text: #f5f5f5;
  }
}
